<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="guiykien.css">
    <link rel="stylesheet" type="text/css" href="lienhe.vue">
</head>
<body>
  <ul class="navigation" style="padding:0px;">
    <li class="nav-item"><a href="soyeulilich.html">SƠ YẾU LÝ LỊCH</a></li>
    <li class="nav-item has-child1"><a href="tinchi.html">ĐĂNG KÝ HỌC</a>
        <ul class="sub-menu">
          <li>
            <a href="tinchi.html">ĐĂNG KÝ HỌC TÍN CHỈ</a>
            <a href="dknganh2.html">ĐĂNG KÝ HỌC NGÀNH 2</a>
            <a href="xemhocphan.html">LỚP HỌC PHẦN ĐÃ ĐĂNG <br>KÍ</a>
          </li>
        </ul>
    </li>
    <li class="nav-item"><a href="xemhocphi.html">XEM HỌC PHÍ</a></li>
    <li class="nav-item"><a href="xemlichhoc.html">XEM LỊCH HỌC</a></li>
    <li class="nav-item"><a href="lichthi.html">XEM LỊCH THI</a></li>
    <li class="nav-item"><a href="xemdiemhoctap.html">XEM ĐIỂM HỌC TẬP</a></li>
    <li class="nav-item"><a href="diemrenluyen.html">XEM ĐIỂM RÈN LUYỆN</a></li>
    <li class="nav-item has-child2"><a href="dv2.html">DỊCH VỤ MỘT CỬA</a>
      <ul class="sub-menu">
        <li><a href="dv2.html">ĐƠN XIN CẤP THẺ<br>SINH VIÊN(tạm thời)</a></li>
        <li><a href="">ĐƠN XIN TRỞ LẠI<br>HỌC TẬP</a></li>
        <li><a href="">ĐƠN XIN DỰ THI</a></li>
        <li><a href="">ĐƠN XIN HỌC NGHÀNH 2</a></li>
      </ul></li>
    <li class="nav-item"><a href="guiykien.html">GỬI Ý KIẾN</a></li>
  </ul>
  
  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger"></label>
  
  <div class="site-wrap">
    <div class="brand">
      <a href="C:\Users\Acer\Desktop\web\Bai_thi">
        <img style="height: 64px; margin-left: 10px;" src="	https://dainam.edu.vn/admin/upload/logo/8tedlgbzwga59lkxpcq120200504091307_thump.png" alt="logo">
      </a>
    </div>
    <header></header>
    <div id="app">

      <form class="vue-form" @submit.prevent="submit" style="margin-top: 70px;">
        <fieldset>
          <legend>Gửi Ý Kiến</legend>
          <div>
            <label class="label" for="name">Họ và Tên</label>
            <input type="text" name="name" id="name" required="" v-model="name">
          </div>
          <div>
            <label class="label" for="email">Email</label>
            <input type="email" name="email" id="email" required=""
                   :class="{ email , error: !email.valid }"
                   v-model="email.value">
          </div>
          <div>
            <label class="label" for="textarea">Nội Dung</label>
            <textarea class="message" name="textarea" id="textarea" required="" 
                      v-model="message.text" 
                      :maxlength="message.maxlength"></textarea>
          </div>
          <div>
            <input type="submit" value="Gửi">
          </div>
        </fieldset>
      </form>
    </div>
  
    <footer class="row">
      <a href="TTNHOM.html" style="position: absolute; margin-top: 15px; right: 10px;">Bản quyền</a>
    </footer>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
</body>
</html>